/* Normal desktop :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {

    .client-icon {
        padding: 4px 30px;
    }
}


/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1200px) {

    .client-icon {
        padding: 4px 30px;
    }
}

 
/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 992px) {
    .container {
        max-width: 800px;
    }
    .counter-section {
        margin-left: 23%;
    }
    .filter-tab {
        margin: 30px 0px;
    }
    .filter-menu-box ul li a span {
        top: 42px;
    }
    .filter-item {
        margin-left: 50px;
    }
    .name {
        position: absolute;
        top: 30px;
        right: -2px;
    }
    .left-side .image span {
        top: 0px;
    }

}

 
/* small mobile :320px. */
@media (max-width: 768px) {
    .container {
        max-width: 800px;
    }
.name h3 {
	font-size: 18px;
}
.left-side .image span {
	color: #fff;
	width: 18px;
	height: 18px;
	line-height: 18px;
	top: 0px;
	margin-left: -10px;
} 
.name {
	position: absolute;
	top: 26px;
	right: 0px;
}
.fil-name {
	position: absolute;
	bottom: 20%;
	left: 42%;
}

 
}
 
/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
.container {width:450px}
 
}
